 /* footer */

.footer {
  display: flex;
  gap: 30px;
  padding: 50px 20px;
  background-color: black;
  color: #e4b730;
  font-family: Arial, sans-serif;
  font-size: 15px;
  height: 250px;
  justify-content: center;
  width: 100%;
}

.footer-section{
  flex:1;
  display: flex;
  flex-direction: column;
}

.footer-section h6{
  margin-left:25px;
}


.footer-section ul {
  list-style: none;
  
}

.footer-section ul li {
  padding: 2px;
 

}

.footer-section ul li a {
  color: #e4b730;
  text-decoration: none;
}

.footer-section a:hover {
  color: #dede69;
}

.footer-section .logo {
  margin-top: 0;
  flex:1;
}

.footer .community{
  flex:1;
}



.footer .community input {
  width: 85%;
  padding: 8px;
  margin-top: 10px;
  border: none;
  
}

.community-input-column h6{
  margin-bottom: 0;
}


.community-input-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* margin-top: 10px; */
  width: 100%;
  max-width: 300px; 
}

.community-input-column input,
.community-input-column button {
  
  padding: 5px;
  border: none;
  border-radius: 5px;
  height:30px;
}

.community-input-column button {
  background-color: #e4b730;
  color: black;
  font-weight: bold;
  cursor: pointer;
  width:86%;
  margin-top: 0;
}

.community-input-column button:hover {
  background-color: #baba2a;
}

.community #reading-community{
  text-align: left;
  margin-left: 0;
  margin-top: 0;
}

.social-media{
  display: flex;
  gap:20px;
}

.instagram,.facebook,.twitter{
  color: white;
  padding:4px 8px;
  border-radius: 5px;
}


.social-media a:hover{
  color: white;
}

.facebook{
   background-color: rgb(75, 75, 179);
}

.instagram{
   background-color: rgb(250, 66, 152)
}

.twitter{
  background-color: skyblue;
}

 .social-media a {
    position: relative;
    margin: 0 8px;
    text-decoration: none;
  }

  .social-media a::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 125%; 
    left: -50%;
    background-color: #3a3a3a;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    opacity: 0;
    font-size: 12px;
  }

  .social-media a:hover::after {
    opacity: 1;
  }
