/* Slider */

.slide{
    position: relative;
    margin: 0;
    padding: 0;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bg{
    width: 100%;
}

.btn{
    position: absolute;
    top: 50%;
    width: 50px;
    cursor: pointer;
}

.txt{
    left: 60%;
    top: 40%;
    font-size: 4em;
    width: fit-content;
    color: white;
}

.mid{
    left: 60%;
    width: 200px;
    padding: 1%;
    top: 60%;
    border-radius: 10px;
    font-size: large;
    background-color: #e4b730;
    border-style: none;
}

.lft{
    left: 2%;
}

.rgt{
    right: 2%;
}

/* Categories */

.categories{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(2,auto);
    margin:auto;
    padding: 2px;
}

.cat-1{
    grid-row: span 2;
    cursor: pointer;
}

.flex-1, .flex-2{
    display: flex;
}

.cat{
    margin: 8px;
    border-radius: 10px;
    cursor: pointer;
}

.cat:hover{
    opacity: 50%;
}

.cat-1:hover{
    opacity: 50%;
}

.grid{
    justify-items: center;
    margin-top: 20px ;
    margin-bottom: 50px;
}

/* Recommended For You */
.recommended {
  text-align: center;
  overflow: hidden; 
  height: auto;
}

.rec {
  padding-top: 2%;
}

.highlight {
  width: 400px;
  border: solid #ffbf00;
}

hr {
  width: 80%;
  margin: auto;
}

.action-links-1{
    display: none;
    position: relative;
    bottom: 100px;
}


.tooltip-1 {
  position: absolute;
  bottom: 125%; 
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
}

.btns:hover .tooltip-1 {
  visibility: visible;
  opacity: 1;
}

.btns{
    border: 0;
    padding: 4%;
    border-radius: 10px;
    font-size: small;
}

.tooltip-1{
    /* display: none; */
    position: absolute;
    background-color: black;
}

.btns:hover{
    color: #e4b730;
}


.image-container:hover .action-links-1{
    display: block;
}

.book-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

.book-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  cursor: pointer;
  padding: 2%;
  justify-content: center;
  align-items: center;
}

.book-cover {
  height: 18vh;
  width: 15vh;
}

@media (min-width: 1400px) {
  .book-cover {
    height: 25vh;
    width: 10vw;
  }
}

.store {
  color: gray;
  font-size: medium;
}

.title {
  width: 220px;
  text-align: center;
}

.price {
  color: #e4b730;
  font-weight: bold;
}

.old {
  color: gray;
  font-weight: 500;
}

.bg{
    position: absolute;
    overflow: scroll;
    z-index: -1;
    left: 0;
    height: 40vh;
}

/* Perks */

.perks{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.optns{
    display: flex;
    justify-content: center;
}

p{
    margin: 0;
}

.box{
    border: 1px solid rgb(223, 223, 223);
    padding: 0.5%;
    border-radius: 5px;
    margin: 10px;
    width: 15vw;
}

.icon{
    margin-right: 15px;
}

@media (max-width:1000px) {
    .box{
    border: 1px solid rgb(223, 223, 223);
    padding: 0.5%;
    border-radius: 5px;
    width: 60vw;
    margin: 10px;
}

.optns{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}
}

.banner{
    display: flex;
    justify-content: center;
    width: 65%;
    align-items: center;
}

.banner-item{
    width: 35vw;
    height: 150px;
    margin: 10px;
    cursor: pointer;
}

.banner-item:hover{
    opacity: 80%;
}

@media (max-width:1000px) {

    .banner{
        flex-wrap: wrap;
    }
    .banner-item{
    width: 60vw;
    height: 100px;
}
}


/* Tabs */

input[type="radio"]{
    display: none;
}

.book{
    width: 5.5vw;
}

.tabs-container{
    background-color: rgb(222, 222, 222);
    margin-top: 20px;
    padding: 1%;
}

.tabs-box{
    background-color: white;
    width: 40%;
    margin: auto;

}

.tabs{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.labels{
    margin: auto;
    display: flex;
    width: 60%;
    justify-content: center;
}

.tab-1,.tab-2,.tab-3{
    padding: 3%;
    margin-top: 10px;
    border: 1px #e4b730 solid;
    cursor: pointer;
    margin-bottom: 20px;
}

.books-list{
    display: none;
}

.book-list-card{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.list-desc{
    display: flex;
    flex-direction: column;
}

.disc{
    background-color: rgb(214, 38, 38);
    color: white;
    padding: 1%;
    border: 0;
    border-radius: 3px;
}

del{
    color: grey;
    margin: 5px;
}

#new_arrivals:checked ~ .tabs-box .tabs .tab-1 {
    background-color: #e4b730;
    color: white;
    cursor: pointer;
}

#new_arrivals:checked ~ .tabs-box .books-list-1 {
    display: block;
}

#featured_products:checked ~ .tabs-box .books-list-2 {
    display: block;
}

#most_viewed:checked ~ .tabs-box .books-list-3 {
    display: block;
}

#featured_products:checked ~ .tabs-box .tabs .tab-2 {
    background-color: #e4b730;
    color: white;
    cursor: pointer;
}

#most_viewed:checked ~ .tabs-box .tabs .tab-3 {
    background-color: #e4b730;
    color: white;
    cursor: pointer;
}

/* Testimonials */

.heading{
    text-align: center;
    margin-top: 30px;
}

.review-container{
    display: flex;
    padding: 10px;
    width: 80%;
    margin: auto;
}

.review-card{
    margin: 10px;
    display: flex;
    align-items: start;
}

.review{
    border: 2px solid rgb(174, 174, 174);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    position: relative;
    right: 20px;
    z-index: -1;
}

.author{
    font-weight: bold;
}

.desc{
    width: 70%;
}


@media (max-width:1200px) {
    .profile{
        display: none;
    }

    .review{
        font-size: 10px;
    }
}